<h1><%=t('contact')%></h1>
<div style="float:right; margin-right=5px; ">

</div>

<p>Si quieres preguntar algo puedes utilizar el siguiente formulario</p>

 <div class="alert-message success">
   <a class="close" href="#">×</a>
 <%if notice%>
<p><%= notice %></p>
 <%else%>
<p>&nbsp;</p>
<%end%>
</div>


<%=render 'form'%>
