<h1><%=t('contact')%></h1>


<p>Si quieres preguntar algo puedes utilizar enviarnos un email a <a href="mailto:info@enrails.com?Subject=contacto">
info@enrails.com</a>   o usar el siguiente formulario</p>
<%if notice%>
 <div class="alert-message success">
   <a class="close" href="#">×</a>
 	<p><%= notice %></p>
</div>

<%end%>

<%=render 'form'%>
