<h1><%=t('contact')%></h1>
<div style="float:right; margin-right=5px; ">

</div>

<p>Si quieres preguntar algo puedes utilizar el siguiente formulario</p>
<%if notice%>
 <div class="alert-message success">
   <a class="close" href="#">×</a>
 	<p><%= notice %></p>
</div>
<%end%>

<%=render 'form'%>
